* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkcyan;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.topnav {
    display: flex;
    margin-right: 2rem;
}

@media screen and (max-width: 600px) {
    .topnav a {
        font-size: 1.2rem;
        width: 100%;
    }
  }

.topnav a {
    display: block;
    padding: 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: h00;
    text-align: center;
    color: white;
    font-size: 3rem;
}

#welcome-section p {
    color: darkcyan;
    font-size: 2rem;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: linear-gradient(62deg, #6699cc 0%, #004d99 100%);
}

.projects-section-header {
    max-width: 640px;
    margin: 3rem auto 5rem auto;
    border-bottom: 0.2rem solid white;
}

h2 {
    font-size: 2.2rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 2rem;
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

a {
    text-decoration: none;
    color: white;
}

.project {
    background: darkslategray;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.project-image {
    height: calc(100% - 3.8rem);
    width: 100%;
    object-fit: cover;
}

img {
    display: block;
    size: 10px;
}

.project-title {
    font-size: 1.75rem;
    padding: 0.75rem 0.5rem;
}

.code {
    color: whitesmoke;
    transition: color 0.3s ease-out;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: linear-gradient(62deg, #c1262c 0%, #651429 100%);
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-section-header h2 {
    font-size: 4rem;
}

.contact-section-header p {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

.contact-details {
    font-size: 2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: linear-gradient(62deg, #c1262c 0%, #651429 100%);
    border-top: 6px solid darkcyan;
}

footer > p {
    margin: 2rem;
    color: lightgrey;
}